<configuration>
  <connectionStrings>
    <add name="ConexionDB" connectionString="Data Source=LAPTOP-2IPO93NO\SQLEXPRESS2;Initial Catalog=LAPTOP-2IPO93NO\SQLEXPRESS2;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
